<div class="container">
      
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Image</th>
          <th>Info</th>
          <th>Like Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{meme[0].NomeMeme1}}</td>
          <td></td>
          <td>{{meme[0].Info1}}</td>
          <td><slide></slide></td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{meme[1].NomeMeme1}}</td>
          <td></td>
          <td>{{meme[1].Info1}}</td>
          <td><spinner></spinner></td>
        </tr>
      
      </tbody>
    </table>
  </div>